/* --------------------------
  Base
--------------------------- */

body {
  background: #8069a1;
  padding-top: 60px;
}

svg {
	margin: auto;
  display: block;
}

/* --------------------------
  Keyframes
--------------------------- */

@keyframes grow {
  0% {

  }
  30% {

  }
  60% {
    
  }
}


/* --------------------------
  SVG Styles
--------------------------- */

